body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000);
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

.title,
.subtitle {
    letter-spacing: .2rem;
}

a,
a:hover,
a:visited {
    color: #EEEEEE;
    text-decoration: none; 
}

label { 
    display:block;
    margin-bottom: 0; 
}


#start-over {
    margin-top: 40px;
    padding: 0 10%;
}
