#html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.4rem;
    background: #000000;
    background: -webkit-linear-gradient(120deg, #434343, #000000);  
    background: linear-gradient(120deg, #434343, #000000);
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;

}

.hidden {
    display: none;
}

.title,
.subtitle {
    letter-spacing: .2rem;
}

a,
a:hover,
a:visited {
    color: #EEEEEE;
    text-decoration: none; 
}

label { 
    display:block;
    margin-bottom: 0; 
}

select,
option {
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #DDDDDD;
}

#info-display,
#info-display-alt {
    background-color: rgb(0, 136, 0);
    color: #EEEEEE;
    border-radius: 3px;
    padding: 3px 0;
}

#info-display-alt {
    background-color: rgb(217,83,79);
}

.modal-content,
.modal-header {
    background: #000000;
    background: -webkit-linear-gradient(to top, #2c2c2c, #020202);  
    background: linear-gradient(to top, #2c2c2c, #020202);
    color: #EEEEEE;
}

.modal-backdrop
{
    opacity:0.9 !important;
}

#artist-results,
#track-results {
    display: flex;
    align-items: center;
  } 


@media only screen and (max-width: 900px) {
    #results {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    #logo-title {
        font-size: 4rem;
    }

    #instructions-display,
    #logo-subtitle {
        font-size: 1rem; 
    }

    #button-track,
    #button-artist {
        font-size: .9rem !important;
        padding: 10px !important;
        margin: 60px 0 60px 0;
    }

    #nav-directions,
    #track-filter-form,
    #history-instructions {
        font-size: .9rem !important;
    } 

    #history-or {
        margin-top: 50px !important;
    }

    .link {
        font-size: .65rem;
    }
}